<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-blank-activity"
        version="0.0.10">
    <name>Blank Activity</name>
    <description>Cordova Blank Activity Plugin</description>
    <keywords>cordova,blank,activity</keywords>
    <repo>https://github.com/luks87zg/cordova-blank-activity.git</repo>

    <js-module src="www/BlankActivity.js" name="BlankActivity">
        <clobbers target="cordova.plugins.BlankActivity" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BlankActivity" >
                <param name="android-package"
                       value="hr.intendanet.cordova.plugin.blank.BlankActivity"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="hr.intendanet.cordova.plugin.blank.EmptyActivity"
                      android:clearTaskOnLaunch="true"
                      android:configChanges="orientation|keyboardHidden|screenSize"
                      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                      android:windowSoftInputMode="stateAlwaysHidden"
                      android:exported="false"/>
        </config-file>
        <source-file src="src/android/BlankActivity.java"
                     target-dir="src/hr/intendanet/cordova/plugin/blank" />
        <source-file src="src/android/EmptyActivity.java"
                     target-dir="src/hr/intendanet/cordova/plugin/blank" />
    </platform>

</plugin>